<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.MobileAddToCart_TC_01">
        <methods>
          <include name="MobileClickAndMsgAssert"/>
          <include name="ClickedOn3rdMobile"/>
          <include name="AddtToCartButton"/>
          <include name="BargainPage"/>
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
